/ArrayList/nbproject/private/
/ArrayList/build/
/Exercicio0104/nbproject/private/
/Exercicio0104/build/
/exercicio0204/nbproject/private/
/exercicio0204/build/
/exercicio0204/dist/
/exercicio0404/nbproject/private/
/exercicio0404/build/
/exercicio0404/dist/
/AppFinalStatic/AppFinalStatic/dist/
/AppFinalStatic/AppFinalStatic/nbproject/private/
/AppFinalStatic/AppFinalStatic/build/
/pkg222210676_guilherme_quirino_lab4_ex1/nbproject/private/
/pkg222210676_guilherme_quirino_lab4_ex2/nbproject/private/
/pkg222210676_guilherme_quirino_lab4_ex2/build/
